{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div class="table-responsive container-fluid width-medium pos-center">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            Scores of user {{username}}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{result}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            {{username}}'s Previous Transactions
          </th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>{{transaction.date_created}}</td>
          <td>Paid to: {{transaction.wallet_id}}</td>
          <td>Payment: {{transaction.recieved_currency}}</td>
          <td>Games:{{transaction.recieved_games}}</td>
          <td>Completed: {{transaction.date_completed}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}

{% endblock%}