.gameboard{
  background-color: #99AABD;
  position: relative;
  border-radius: 7px;
  width: 100%;
  max-width:400px;
}

.tile, .tile-placeholder{
  position: absolute;
  border-radius: 5px;
}


.tile-placeholder{
  background-color: #AD798A;
}

.tile{
  background-color: #AABD99;
  font-size: 50px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}

